{% extends "base.html" %}
{% block title %}Home - Coding for Kids{% endblock %}
{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Sorry could not find the page!</h1>
    <p class="lead">Please try again later!</p>
    
    
    <!-- {% if 'logged_in' in session %}
    <a class="btn btn-primary btn-lg" href="{{ url_for('dashboard') }}" role="button">Lets Get Started</a>
    <a class="btn btn-primary btn-lg" href="{{ url_for('logout') }}" role="button">Change User</a>
    {% else %}
    <p>Get started by creating an account and logging in.</p>
    <a class="btn btn-primary btn-lg" href="{{ url_for('login') }}" role="button">Login</a>
    <a class="btn btn-primary btn-lg" href="{{ url_for('signup') }}" role="button">Sign Up</a>

    {% endif %} -->
</div>
{% endblock %}
