{% extends "base.html" %}
{% block title %}Sign Up - Coding for Kids{% endblock %}
{% block content %}
<h1>Sign Up</h1>
<form method="post">
    {{ form.hidden_tag() }}
    
    <div class="form-floating mb-3">
        {{ form.name(class="form-control") }}
        {{ form.name.label}}
    </div>

    <br>

    <div class="form-floating mb-3">
        {{ form.dob(class="form-control")}}
        {{ form.dob.label}} 
    </div>

    <br>

    <div class="form-check form-check-inline">
      
        {{form.gender}} 
        {{ form.gender.label}}

    </div>

    <br>

    <div class="form-floating mb-3">
        {{ form.email(class="form-control") }}
        {{ form.email.label}} 
    
    </div>

    <br>

    <div class="form-floating mb-3">
        {{ form.password(class="form-control") }}
        {{ form.password.label}} 
    </div>

    <br>

    <div class="form-floating mb-3">
    {{ form.submit.label}} 
    {{ form.submit (class="form-control btn btn-primary ") }}
    </div>

</form>
{% endblock %}
