{% extends "base.html" %}
{% block title %}Home - Stock Portfolio{% endblock %}
{% block content %}
<div class="jumbotron">
    {% if 'email' in session %}
    <h2 class="display-6">Welcome to your Equity Portfolio, {{ session.username}}</h2>
    <p class="lead">Learn coding through fun and interactive lessons!</p>
    <hr class="my-4">  
    <a class="btn btn-primary btn-lg" href="{{ url_for('dashboard_1') }}" role="button">Lets Get Started</a>
    <a class="btn btn-primary btn-lg" href="{{ url_for('logout') }}" role="button">Change User</a>
    {% else %}
    <h2 class="display-6">Start and Equity Portfolio!!</h2>
    <p>Get started by creating an account and logging in.</p>
    <a class="btn btn-primary btn-lg" href="{{ url_for('login') }}" role="button">Login</a>
    <a class="btn btn-primary btn-lg" href="{{ url_for('signup') }}" role="button">Sign Up</a>

    {% endif %}
</div>
{% endblock %}
