{% extends "base.html" %}
{% block title %}Home - Coding for Kids{% endblock %}
{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Welcome to Coding for Kids</h1>
    <p class="lead">Learn coding through fun and interactive lessons!</p>
    <hr class="my-4">
    
    {% if 'logged_in' in session %}
    <a class="btn btn-primary btn-lg" href="{{ url_for('dashboard') }}" role="button">Lets Get Started</a>
    <a class="btn btn-primary btn-lg" href="{{ url_for('logout') }}" role="button">Change User</a>
    {% else %}
    <p>Get started by creating an account and logging in.</p>
    <a class="btn btn-primary btn-lg" href="{{ url_for('login') }}" role="button">Login</a>
    {% endif %}
</div>
{% endblock %}
